<!-- TODO: Use a third party library to support syntax highlighting -->
<attrs/{renderBody, ...rest} />

<box p=4 w="100%" bg="gray.100" ...rest>
  <box position="relative">
    <text as="pre" fontFamily="mono"><${renderBody}/></text>
    <btn variant="primary" position="absolute" top=0 right=0>Copy</btn>
  </box>
</box>